// Blog Styles
.Blog {
    &__wrap {
        @include FlexJustifyBetween;
        flex-wrap: wrap;
        margin: 0 -2.5rem;
    }
    &__item {
        margin: 2.5rem 2.5rem 0.9rem;
        width: calc(100%/2 - 5rem);
        @include transition03S;
        &:hover {
            box-shadow: 0 1.875rem 5rem 0 rgba(20,52,92,0.2);   
            .Blog {
                &__body {
                    padding: 1.6rem;
                } 
                &__header {
                    &:after {
                        opacity: .3;
                    }
                }
                &__img {
                    transform: scale(1.2);
                }
            }        
        }
    }
    &__header {
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: $primary-color;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;            
        }
    }
    &__img {
        @include transition03S;
    }
    &__body {
        @include transition03S;
        padding: 1.6rem 0;
        background-color: white;
    }
    &__footer {
        margin-top: 3.75rem;
    }
    &__more {
        padding: 0.563rem 1.875rem;
        border: 0.063rem solid currentColor;
        display: inline-block;
        font-size: 0.938rem;
        color: $secondary-color;
        background-color: white;
        &:hover {
            background-color: $secondary-color;
            color: white;
            box-shadow: 0 0.5rem 1.813rem 0 rgba(0,0,0,0.23);
            border-color: $secondary-color;
        }
    }
    &-details {
        &__image {
            position: relative;
            transform: translateX(0);
            @include transition03S;
        }
        &__footer {
            padding-top: 2rem;
            border-top: 0.063rem solid $secondary-color;
            @include FlexJustifyBetween;
        }
        &-category {
            @include FlexJustifyBetween;
            &__icon {
                .icon {
                    width: 1rem;
                    height: 1rem;
                    color: $text2;
                }
            }
        }
        &__tag {
            margin-left: 1.125rem;
            a {
                color: $text2;    
                &:hover {
                    color: $darkenBlue;                    
                }            
            }
        }
    }
    &__comment {
        padding-top: 2.5rem;     
        margin-bottom: 5rem;   
        .Form__input--textarea {
            height: 8.3rem;
        }
    }
}
