@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
    .Menu {
        display: none;
    }
    .Blog {
        &-details {
            &__footer {
                flex-direction: column;
            }
            &-category {
                justify-content: flex-start;
            }
        }
    }
    .social {
        margin-top: 0.625rem;
        &__item {
            margin-left: 0;
            margin-right: 0.625rem;
        }
    }
    .dropdown {
        &-menu {
            display: none;
            &.show {
                position: relative!important;
                transform: none!important;
                opacity: 1;
                visibility: visible;
                display: block;
                .dropdown {
                    &-item {
                        font-size: 0.938rem;
                    }                
                }
            }
        }
        &-toggle {
            display: block;
            position: absolute;
            cursor: pointer;
            right: 0;
            top: 0;
            background-color: rgba($primary-color, .8);
            color: #fff;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.125rem;
            text-align: center;
            font-size: 2rem;   
            &:after {
                content: none;
            }
            .icon {
                transition: transform .2s;
                transform: rotate(0);             
            }   
            &:hover {
                background-color: $primary-color;
            }      
        } 
        &.show {
            .dropdown {
                &__link {
                    background-color: rgba($primary-color, .7);
                    color: #fff;
                }
                &-item {
                    &:hover {
                        background-color: $gray-lighten4;
                        color: $secondary-color;
                    }
                }
            }    
            .icon {
                transform: rotate(-180deg);             
            }    
        }
    }
}

@include MQ(tablet) { 
    .Blog {
        &__item {
            .content {
                &__text {
                    display: none;
                }
                &__title {
                    font-size: 1.6rem;
                }
            }            
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .Blog {
        &-details {
            &__footer {
                margin-top: 1rem;
            }
        }
        &__wrap {
            margin: 0;
        }
        &__item {
            width: 100%;
            margin: 2.5rem 0 .9rem;
        }
    }
    .content {
        &__margin {
            margin-top: 2.4rem;
        }
    }
    .image {
        &-line {
            &__extra {
                padding-right: 0!important;
                img {
                    width: 100%;
                }
            }        
        }
    }
    .Footer {
        .container {
            flex-direction: column;
        }
    }
    .Contact {
        &__form {
            position: relative;
            top: 0;
            transform: none;
            width: 100%;
        }
    }
    .filter {
        &__group {
            margin-bottom: 0;
        }
        &__button {
            margin-right: 0;
        }
    }
    .Contact {
        &__methods {
            .container {
                max-width: 100%;
                padding: 0;
            }
        }
        &__form {
            box-shadow: none;
            border-top: .063rem solid #ddd;
        }
    }
    .Map {
        margin-top: 0;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
    .cd {
        &-nav {
            &-container, &-trigger {
                display: none;
            }
        }
        &-overlay {
            display: none;
        }
    }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}


/*==========  For Retina  ==========*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .Header {
        &__logo {
            a {
                background: url(../img/Logo@2x.png) no-repeat center center;
            }
        }
    }
    .burger {
        &-menu {
            &__logo {
                background: url(../img/Logo@2x.png) no-repeat center center;                
            }
        }
    }
}

