
$default-font: "Montserrat", sans-serif;

$primary-color: #3b27a0;
$secondary-color: #e7951f;
$button-secondary-bg: #d98000;
$button-secondary-border: #cb7400;
$text: #28292F;
$text2: #5b8bb6;
$darkenBlue: #06355f;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$mobile-xs: 320px;
$mobile-s: 375px;
$mobile-m: 425px;
$mobile-l: 480px;
$mobile: 540px;
$mobile-landscape: 600px;
$tablet: 767px;
$tablet-landscape: 992px;
$laptop: 1199px;
$laptop-l: 1440px;

