// Header Styles
.Header {
    // Logo Styles
    background-color: white;
    &__logo {
        margin-bottom: 0;
    }
    // Sticky Header Styles
    &.sticky-header {
        position: absolute;
        background: #fff;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;        
        padding: 3rem 0;        
        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1rem 0;
            z-index: 3;
            @include stickyHeader;
            box-shadow: 0 0.313rem 0.563rem 0.063rem rgba(144, 161, 180, 0.2);
            background-color: white;
        }
    }
}
