
// Vertical Form With Materialize Effects Styles
.Form {
    &__group {
        width: 100%;
        padding: 0.438rem;
        position: relative;
        padding: 0;
        margin-bottom: 1.625rem;
        &--focus {
            .Form {
                &__label {
                    font-size: 0.75rem;
                    transform: translateY(-0.25rem);
                }
                &__input {
                    padding-top: 1.125rem;
                }
            }
        }
    }
    &__input {
        border: 0.063rem solid $secondary-color;
        display: block;
        width: 100%;
        font-size: 0.875rem;
        height: 2.813rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        word-break: normal;
        background-color: white;
        color: #071330;
        outline: 0;
        @include transition03S;
        &--textarea {
            height: 9.688rem;
        }
        &::placeholder {
            color: #838998
        }
        &:focus {
            outline: 0;
            border-color: $primary-color;
        }
    }
    &__label {
        font-size: 0.875rem;
        font-weight: 300;
        transform: translateY(0.188rem);
        position: absolute;
        top: 0;
        width: 100%;
        color: $text2;
        margin-top: 0.625rem;
        padding: 0 0.8rem;
        z-index: 1;
        cursor: text;
        @include transition03S;
    }
}

