
//Image Hover Effect Styles
.effect {
    position: relative;
    overflow: hidden;
    text-align: center;
    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
        @include FlexCenter;        
    }
    &__img {
        position: relative;
        display: block;
        height: 100%;
        max-width: 100%;
        opacity: 0.8; 
        object-fit: cover;        
        transition: opacity 0.35s, transform 0.35s;
    }

    // Prolly Effect 
    &-prolly {
        background-color: #3085a3;
        &__img {
            transform: scale(1.12);
        }    
        &:hover {
            .effect-prolly {
                &__img {
                    opacity: 0.5;
                    transform: scale(1);
                }   
            }                                                                     
        } 
        &__caption {
            padding: 3rem;
            flex-direction: column;
            &:before {
                position: absolute;
                top: 1rem;
                right: 1rem;
                bottom: 1rem;
                left: 1rem;
                border: 0.063rem solid #fff;
                content: '';
                transform: scale(1);
                transition: opacity 0.35s, transform 0.35s;
            }
        }                 
    } 


    // Layla Effect
    &-layla {
        background: $primary-color;
        &__caption {
            padding: 2rem;  
            &:after, &:before {
                position: absolute;
                content: '';
                opacity: 0;
            }
            &:before {
                top: 2.5rem;
                right: 1.25rem;
                bottom: 2.5rem;
                left: 1.25rem;
                border-top: 0.063rem solid #fff;
                border-bottom: 0.063rem solid #fff;
                transform: scale(0,1);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }   
            &:after {
                top: 1.25rem;
                right: 2.5rem;
                bottom: 1.25rem;
                left: 2.5rem;
                border-right: 0.063rem solid #fff;
                border-left: 0.063rem solid #fff;
                transform: scale(1,0);
                transform-origin: 100% 0;
            }   
            &:after, &:before {
                transition: opacity 0.35s, transform 0.35s;                
            }    
        }
        &__title {
            margin: 0;
            padding: 1rem;
            opacity: 0;
            transform: translate3d(0,-10px,0);    
            transition: opacity 0.35s, transform 0.35s;        
        }
        &__img {
            transition: opacity 0.35s, transform 0.35s;
            transform: scale(1.15);            
        }
        &:hover {
            .effect-layla {
                &__caption:after, &__caption:before {
                    opacity: 1;
                    transform: scale(1);
                }
                &__title {
                    opacity: 1;
                    transform: translate3d(0,0,0);
                }
                &__caption:after, 
                &__title,
                &__img {
                    transition-delay: 0.15s;
                }  
                &__img {
                    opacity: 0.5;
                    transform: scale(1);                     
                }              
            }
        }
    }
}   
