// Slider Styles
.Slider {
    // Common style 
    margin: 9.625rem 0 5rem;
    &__effect {
        height: 100%;
    }
    &__title {
        font-size: 1.69rem; 
        font-weight: 700;
        margin: 0;   
        text-transform: uppercase;              
    }                  
    &__caption {
        padding: 2rem;
        color: #fff;
        font-size: 1.25rem;
        backface-visibility: hidden;
        &:after, &:before {
            pointer-events: none;                        
        }
    }
    &__button {
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 0.9rem;
        color: white;
        background-color: transparent;
        padding: 0.25rem 0.625rem;   
        text-transform: capitalize;     
        margin-top: 0.5rem;
        border: 0.063rem solid $secondary-color;
        &:hover {
            color: white;
            background-color: $secondary-color;
            transform: translateY(0.188rem);     
            box-shadow: 0 0.563rem 1.063rem -0.188rem rgba(0,0,0,0.13);                 
        }
    } 

    &__item {
        height: 38rem;        
    }
}

//  Button Ripple Effect 

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


// Owl Carousel 

.owl {
    &-carousel {
        position: relative;
    }
    &-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 1.25rem;
        margin: 0 0 2.5rem;
    }
    &-dot {
        span {
            width: 1rem!important;
            height: 1rem!important;
            margin: .5rem!important;
            background-color: white!important;
            opacity: 1!important;
        } 
        &.active, &:hover {
            span {
                background: none!important;;
                border: 0.125rem solid white!important;;
            }
        }   
    }
}